doctype html
html(lang="en")
    head
        title Register
        link(rel="stylesheet" href="/style.css")
        script(src="register.js")
    body
        h1 Register or Login
        div
            input#username(type="text" placeholder="Username")
            input#password(type="password" placeholder="Password")
            button#register Register
            button#login Login
